.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icon
        = link_to icon('fas',' fa-edit'), new_group_path, class: 'side-bar__user-name__top-items__icon__edit'
        = link_to icon('fas',' fa-cog'), edit_user_path(current_user), class: 'side-bar__user-name__top-items__icon__settings'
  .side-bar__group-ul
    - current_user.groups.each do |group|
      .side-bar__group-ul__list
        = link_to group_messages_path(group) do
          .side-bar__group-ul__list__group-name
            = group.name
          .side-bar__group-ul__list__last-message
            = group.show_last_message